{% extends "master.html" %}

{% block content %}

<h1>Edición de Solicitudes Personales</h1>
<body>


    <ul>
        <br>
        <li>
           <h2> Seleccione una Solicitud Personal</h2> 
           <a href = "/editar_personales">
                <button>Editar Solicitud Personal</button>
           </a>
        </li>
        <li>
            <h2> Seleccione una Solicitud de su Departameto</h2>
            <a href = "/editar_departamental">
                <button>Editar Solicitud de su Departamento</button>
            </a>
        </li>


    </ul>
    <br>
    <br>
    <br>
    <a href="/mis_solicitudes">
        <button style="background-color: #00aaff; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
            Volver a solicitudes
        </button>
    </a>

</body>

{% endblock %}