{% extends "master.html" %}

{% block content %}

<h1>Edición de Solicitudes Personales</h1>
<body>


    <ul>

        <li>
           <h1> Seleccione una Solicitud Personal</h1> 
           <a href = "/editar_personales">
                <button>Editar Solicitud Personal</button>
           </a>
        </li>
        <li>
            <h1> Seleccione una Solicitud de su Departameto</h1>
            <a href = "/editar_departamental">
                <button>Editar Solicitud de su Departamento</button>
            </a>
        </li>


    </ul>


</body>

{% endblock %}