<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Biblioteca</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/Home">Home</a>
            </li>
            <li>
                <a href="/solicitudes">Solicitudes</a>
            </li>
            <li>
                <a href="/solicitudes_existentes">Solicitudes existentes</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="/cerrar_sesion">Cerrar Sesion</a>
            </li>
            {% else %}
            <li>
                <a href="/iniciar_sesion">Iniciar Sesion</a>
            </li>
            <li>
                <a href="/crear_cuenta">Crear cuenta</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>