{% extends "master.html" %}

{% block content %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 10px;
        text-align: left;
    }
</style>
<body>
    <h1>Solicitudes Muy Importantes</h1>
    <table>
        <tbody>
            {% for x in MI %}
                <tr>
                    <td>{{ x.id }}</td>
                    <td>{{ x.documento }}</td>
                    <td>{{ x.departamento }}</td>
                    <td>{{ x.nota }}</td>
                    <td>{{ x.fecha }}</td>
                    <td>{{ x.autor }}</td>
                    <td>{{ x.estado }}</a></td> 
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">No hay solicitudes.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <h1>Solicitudes Importantes</h1>
    <table>
        <tbody>
            {% for x in I %}
                <tr>
                    <td>{{ x.id }}</td>
                    <td>{{ x.documento }}</td>
                    <td>{{ x.departamento }}</td>
                    <td>{{ x.nota }}</td>
                    <td>{{ x.fecha }}</td>
                    <td>{{ x.autor }}</td>
                    <td>{{ x.estado }}</a></td> 
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">No hay solicitudes.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <h1>Solicitudes Poco Importantes</h1>
    <table>
        <tbody>
            {% for x in PI %}
                <tr>
                    <td>{{ x.id }}</td>
                    <td>{{ x.documento }}</td>
                    <td>{{ x.departamento }}</td>
                    <td>{{ x.nota }}</td>
                    <td>{{ x.fecha }}</td>
                    <td>{{ x.autor }}</td>
                    <td>{{ x.estado }}</a></td> 
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">No hay solicitudes.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <br>
    <a href="/solicitudes_existentes">
        <button>Volver a Solicitudes</button>
    </a>












</body>
{% endblock %}