
<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Lista de solicitudes</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'Home' %}">
                <img src="{% static 'CSS/images/Logos_portal_Biblioteca_Nacional.png' %}" alt="logo" width="300">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Home' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/solicitudes">Crear una nueva solicitud</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cerrar_sesion">Cerrar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/perfil">Perfil</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/iniciar_sesion">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/crear_cuenta">Crear cuenta</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    
    
    <br>
    <br>
    <a href="{% url 'Edit' %}">
        <button style="background-color: #ff0077; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
            Editar solicitudes
        </button>
    </a>
    <br>
    <br>
    <a href="{% url 'prioridades_usuario' %}">
        <button style="background-color: #ff8c00; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
            Ordenar por Prioridad
        </button>
    </a>
    <br>
    <br>
    
    <br>
    
    <h2>Solicitudes departamento</h2>
    <table>
        <thead>
            <tr>
                <th>Documento</th>
                <th>Autor</th>
                <th>Fecha de publicación</th>
                <th>Número de sistema</th>
                <th>Ubicación</th>
                <th>Nota</th>
                <th>Fecha de creación</th>
                <th>Plazo</th>
                <th>Funcionario</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for x in contexto %}
                <tr>
                    <td>{{ x.documento }}</td>
                    <td>{{ x.autor }}</td>
                    <td>{{ x.fecha_publicación }}</td>
                    <td>{{ x.número_de_sistema }}</td>
                    <td>{{ x.ubicación }}</td>
                    <td>{{ x.nota }}</td>
                    <td>{{ x.fecha }}</td>
                    <td>{{ x.plazo }}</td>
                    <td>{{ x.funcionario }}</td>
                    <td>{{ x.estado }}</a></td> 
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">No hay solicitudes.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    
    <br>
    {% if activas %}
    <a href="editar_solicitud/?activas=True">
        <button style="background-color: #ff8c00; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
            Editar una Solicitud
        </button>
    </a>
    <br>
    <br>
    {% endif %}
    <!--
    <a href="/solicitudes_existentes">
        <button style="background-color: #00aaff; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
            Volver a solicitudes
        </button>
    </a>
    -->
    <a href="/mis_solicitudes">
        <button style="background-color: #00aaff; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
            Volver a Mis Solicitudes
        </button>
    </a>
    <br>
    <br>
    
</body>

</html>
   
